a {
    color: #48B944;
}
a:hover {
    font-weight: bold;
    color: #1d9919;
}
a:visited {
    color: #67df63;
}
.form-input {
    padding: 5px;
}
.form-input:focus {
    border-color: #008039;
    outline: none;
}
.col-sm {
    margin: -2px;
    width: 100%;
}
/* small devices */
@media (min-width: 400px) {
    .col-sm{
        width: 50%;
    }
    .navbarpr {
        display: flex;
        flex-direction: column;
    }
}
/* medium */
@media (min-width:768px){
    .col-sm{
        width: 33%;
    }
}
/* large */
@media (min-width:992px){
    .navbarpr, a {
        display: flex;
        flex-direction: row;
        margin-right: 10px;
    }
    .col-sm{
        width: 25%;
    }
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border: 1px solid black;
}
.item {
    color: #090968;
    border: 1px solid black;
    padding: 20px;
}